pipeline/copy_sql_data.json
{
	"name": "copy_sql_data",
	"properties": {
		"activities": [
			{
				"name": "Set variable Run Date",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Var_currentTimestamp",
					"value": {
						"value": "@formatDateTime(utcnow(),'yyyy-MM-dd hh:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable Update Query",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable Run Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Var_update_query",
					"value": {
						"value": "@concat('update config_tbl set watermark =','''',variables('Var_currentTimestamp'),'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Set variable Update Query",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Ls _SqlServer",
					"type": "LinkedServiceReference",
					"parameters": {
						"Par_secret": "abc"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@variables('Var_update_query')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"Var_currentTimestamp": {
				"type": "String"
			},
			"Var_update_query": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-05-29T18:08:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}