pipeline/data_copy_master_csv.json
{
	"name": "data_copy_master_csv",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Config Table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable Run Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select  * from config_csv",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Sql_config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Config Row",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Config Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Config Table').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 20,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_csv_generic",
									"type": "DatasetReference",
									"parameters": {
										"Par_container": {
											"value": "@item().container_Name",
											"type": "Expression"
										},
										"Par_path": {
											"value": "@item().path",
											"type": "Expression"
										},
										"Par_filename": {
											"value": "@item().filename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_csv_generic",
									"type": "DatasetReference",
									"parameters": {
										"Par_container": {
											"value": "@item().container_name",
											"type": "Expression"
										},
										"Par_path": {
											"value": "@item().destination_path",
											"type": "Expression"
										},
										"Par_filename": {
											"value": "@item().filename",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Set variable Run Date",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Var_currentTimestamp",
					"value": {
						"value": "@formatDateTime(utcnow(),'yyyy-MM-dd hh:mm:ss')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Var_currentTimestamp": {
				"type": "String"
			},
			"Var_update_query": {
				"type": "String"
			},
			"Var_test": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-05-26T17:53:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}