pipeline/data_copy_master_sql.json
{
	"name": "data_copy_master_sql",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Config Table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable Run Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select  query,tablename from config_tbl",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Sql_config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Config Row",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Config Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Config Table').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 20,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@item().query",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Ds_sqlserver",
									"type": "DatasetReference",
									"parameters": {
										"Par_db": "dbo",
										"Par_tableName": "tbl1"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQl_02",
									"type": "DatasetReference",
									"parameters": {
										"Par_db": "dbo",
										"Par_tbl": "asvc"
									}
								}
							]
						},
						{
							"name": "Set variable Update Query",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Var_update_query",
								"value": {
									"value": "@concat('update config_tbl set watermark =','''',variables('Var_currentTimestamp'),'''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Script1_copy1",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Set variable Update Query",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "Ls _SqlServer",
								"type": "LinkedServiceReference",
								"parameters": {
									"Par_secret": "abc"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@variables('Var_update_query')",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Set variable Run Date",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Var_currentTimestamp",
					"value": {
						"value": "@formatDateTime(utcnow(),'yyyy-MM-dd hh:mm:ss')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Var_currentTimestamp": {
				"type": "String"
			},
			"Var_update_query": {
				"type": "String"
			},
			"Var_test": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-05-30T17:58:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}